html{
    height: 100%;
}
body{
    margin: 0;
    background-color: black;
}

/* estilos para boton de scroll*/
#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url(/imagenes/top.png);
    background-size: cover;
}

/* Estilos para Menu */
.seccion-menu{
    width: 100%;
    background-color: white;
    height: 60px;
}
.menu{
    width: 80%;
    height: 60px;
    margin: auto;
}

.logo{
    width: 30%;
    height: 60px;
    float: left;
}
nav{
    width: 70%;
    height: 50px;
    float: left;
    text-align: right;
    margin-top: 8px;
    box-sizing: border-box;
}
.logo a img{
    width: 120px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 15px;
    color: black;
}
nav ul li a:hover{
    color: rgb(11, 175, 5);
}

/* Estilo imagen*/
.primera img{
    width: 100%;
}

/* Estilos para biografia*/
.parrafo-imagen{
    width: 100%;
    height: 550px;
}
.secciones{
    width: 90%;
    height: 550px;
    margin: auto;
}
.seccion-info{
    width: 45%;
    height: 550px;
    float: left;
    box-sizing: border-box;
}
.seccion-img{
    width: 55%;
    height: 550px;
    float: left;
    opacity: 0.6;
    box-sizing: border-box;
}
.seccion-img:hover{
    opacity: 0.9;
}
.linea-corta{
    margin-top: 50px;
   margin-bottom: 40px;
}
.linea-larga{
    margin-top: 40px;
 }
.raices{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
}
.seccion-info p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 25px;
    margin-bottom: 20px;
    font-size: 16px;
}
.seccion-img img{
    width: 700px;
    display: block;
    margin: 95px auto;
}

/* Estilos para seccion integrantes*/
.integrantes{
    width: 100%;
    background-color: white;
    height: 70px;
}
.integrantes h1{
    margin: auto;
    padding: 15px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.linea{
    margin: 25px auto;
}

/* Estilos seccion integrantes*/

.seccion-integrantes{
    width: 100%;
    height: 320px;
}
.secciones{
    width: 95%;
    height: 320px;
    margin: auto;
}
.beto{
    width: 25%;
    height: 320px;
    float: left;
    box-sizing: border-box;
}
.walter{
    width: 25%;
    height: 320px;
    float: left;
    box-sizing: border-box;
}
.facu{
    width: 25%;
    height: 320px;
    float: left;
    box-sizing: border-box;
}
.luis{
    width: 25%;
    height: 320px;
    float: left;
    box-sizing: border-box;
}
.beto img{
    width: 320px;
}
.beto h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 0 8px 0;
}
.beto h5{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}
.walter img{
    width: 320px;
}
.walter h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 0 8px 0;
}
.walter h5{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}
.facu img{
    width: 320px;
}
.facu h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 0 8px 0;
}
.facu h5{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}
.luis img{
    width: 320px;
}
.luis h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 0 8px 0;
}
.luis h5{
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}

/* estilos para seccion informativa (pie de pagina)*/
.informativa{
    width: 100%;
    height: 400px;
}
.info-secciones{
    width: 90%;
    height: 400px;
    margin: auto;
}
.seccion-informativa{
    width: 25%;
    height: 400px;
    float: left;
    box-sizing: border-box;
}
.seccion-club{
    width: 30%;
    height: 400px;
    float: left;
    box-sizing: border-box;
}
.seccion-noticias{
    width: 45%;
    height: 400px;
    float: left;
    box-sizing: border-box;
}
.seccion-informativa h3{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 25px;
}
.seccion-informativa h4{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 0;
    letter-spacing: 1px;
}
.seccion-informativa p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
}
.seccion-club img{
    width: 190px;
    height: 60px;
    margin-top: 15px;
}
.seccion-club a{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.seccion-club a:hover{
    color: #1DB954;
    text-decoration: underline;
}
.seccion-noticias h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.seccion-noticias p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#form .elemento input{
    width: 70%;
    padding: 10px 0;
    margin-bottom: 10px;
    color: black;
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    border: none;
}
#form .elemento input[type="submit"]{
    border: none;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #1DB954;
}
#form .elemento input[type="submit"]:hover{
    background-color: white;
    color: black;
}
.redes{
    margin-top: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}
.redes-container2{
    display: flex;
    align-items: center;
    justify-content: left;
}
.redes-container2 ul li{
    display: inline-block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.redes-container2 ul li a{
    display: block;
    padding: 0 5px;
    background: rgb(255, 255, 255);
    color: black;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
}
.redes-container2 ul li .facebook:hover{
    background-color: #3b5999;
    color: white;
}
.redes-container2 ul li .instagram:hover{
    background-color: #C13584;
    color: white;
}
.redes-container2 ul li .youtube:hover{
    background-color: #FF0000;
    color: white;
}
.redes-container2 ul li .spotify:hover{
    background-color: #1DB954;
    color: white;
}